* {
    font-family: 'Ubuntu' - sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu' - sans-serif;
    text-align: center;
    background-color: #fdebd0;
}

.header > h1 {
    color: #1C1C1C;
    padding: 5px;
}

.header > p {
    padding: 5px;
    padding-bottom: 10px;
}

.header > img {
    width: 200px;
    border-radius: 10%;
    filter:grayscale(1);
    transition: 1s;
    cursor: pointer;
}

.ico {
    margin-top: 15px;
    margin-bottom: 25px;
    width: 30px;
    border-radius: 10%;
    filter:grayscale(1);
}

img:hover {
    cursor: pointer;
    filter: grayscale(0);
    border-radius: 50%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#posicao {
    display: flex;
}

.about-me > h1 {
    color: #1C1C1C;
    padding: 10px;
    font-size: 1.75em;
}

.about-me {
    background-color: #f8f9f9;
    border: 3px solid #5d6d7e;
    margin-left: 400px;
    margin-right: 400px; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding:10px;
    text-align: center;
    align-items: center;
}

.detalhes > h1 {
    color: #1C1C1C;
    padding: 10px;
    font-size: 2em;
}

.negrito {
    font-weight: 700;
    font-size: 1.50em;
}

.quadrado {
    background-color: #f8f9f9;
    border-radius: 15%;
    height: 250px;
    width: 300px;
    border: 3px solid #5d6d7e;
    margin: 15px;
    padding: 15px;
    flex-wrap: wrap;
}

p {
    color:#404040;
    padding: 5px;
    font-size: 1.25em;
}

.resp {
    padding: 30px;
    border: 3px solid #5d6d7e;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #ccd1d1;
    overflow: auto;
    color: #1C1C1C;
    justify-content: center;
    border-radius: 1.125em;
}

#bio {
    width: 1000px;
    height: 30px;
    color:#17202a;
    margin-bottom: 10px;
}

.biograf {
    background-color: white;
    display: flex;
    padding: 20px;
    width: 1250px;
    border: 3px solid #5d6d7e;
    margin-left: 100px;
    font-size: 1em;
    overflow: auto;
    border-radius: 1.125em;
}

input {
    color: #17202a;
    width: 220px;
    border-radius: 1.125rem;
    cursor: pointer;
}

